- if @user.library_systems.empty?
  .book
    = render partial: 'users/form'
- elsif @user.books.empty?
  .book
    %h2 Thanks for signing up!
    %p Our army of gruff-but-friendly robots is checking your book lists against your library's records. Check back in a few minutes!
- else
  = render :partial => 'books_header'
  #books
  :javascript
    $(document).ready(function(){
      Minuteman.init(#{@books.to_json});
    });
